<p><u>Here is our Ngrx Assignment</u></p>

<div class="left-section">
    <div class="first">
        <input [(ngModel)]="newKey" placeholder="Key" />
        <input [(ngModel)]="newValue" placeholder="Value" />
        <button (click)="addKeyValuePair(newKey, newValue)">Add</button>
    </div>
    <div class="second">
        <input [(ngModel)]="key1" placeholder="Key1" />
        <input [(ngModel)]="key2" placeholder="Key2" />
        <button (click)="concatKeyValuePair(key1, key2)">Concat</button>
    </div>
</div>

<div class="right-section">
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th></th>
        </tr>
        <tr *ngFor="let item of keyValuePairs | async; let i=index" >
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
            <td><button (click)="editKeyValuePair(i, key1, key2)">edit</button></td>
        </tr>
    </table>
</div>